[includeIf "gitdir:~/personal/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[init]
  defaultBranch = master
[user]
	email = boris.chernystrand@gmail.com
	name = fvrrrn
[core]
	editor = nvim
[push]
	autoSetupRemote = true
